# ==========================================
# Visual Studio / C# / C++ IDE Artifacts
# ==========================================
.vs/
.cr/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.opensdf
*.sdf
ipch/
*.pidb
*.svclog
*.cache
*.binlog

# ==========================================
# Compiled Objects & Binaries (C++ & Assembly)
# ==========================================
# Object and Intermediate files
*.obj
*.o
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Libraries, Exports, and Shared Objects
*.lib
*.exp
*.a
*.la
*.lo
*.so
*.dylib
*.dll

# Executables and Output files
*.exe
*.out
*.app
*.elf
*.ilk
*.pdb
*.idb

# Assembly-specific artifacts (Listings & Maps)
*.lst
*.map
*.sym

# ==========================================
# Python
# ==========================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Unit test and analysis caches
.pytest_cache/
.tox/
.coverage
.coverage.*
.hypothesis/

# ==========================================
# Repository General Artifacts
# ==========================================
CHANGELOG.md

Python/test_api.py
Python/livia/_version.py
Python/livia/runtimeconfig.json
Python/livia/Livia.dll
Python/livia/Native/

!Livia/build/
!Livia/build/Livia.props